
  	<!--
  	<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    -->
    <script src="./assets/js/vendor/jquery-1.11.3.min.js"></script>
    <script src="./assets/js/vendor/bootstrap.min.js"></script>
    
    

    <script src="./assets/js/vendor/popper.min.js"></script>


    <script src="./assets/js/vendor/jquery.easeScroll.js"></script>
    <script src="./assets/js/vendor/TweenMax.min.js"></script>
    <script src="./assets/js/vendor/SplitText.min.js"></script>
    <script src="./assets/js/vendor/barba.min.js"></script>



    <script src="./assets/js/vendor/ScrollMagic.js"></script>
    <script src="./assets/js/vendor/animation.gsap.js"></script>

    <script src="./assets/js/vendor/lightbox.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-visible/1.2.0/jquery.visible.min.js"></script>

    

    <!-- <script src="./assets/js/vendor/debug.addIndicators.js"></script> -->

    <script src="./assets/js/script.min.js"></script>
    
     
	</div>
   </div> <!-- /barba container -->
  </body>
</html>
