// ALWAYS THE LATEST BOOSTRAP
@import '../../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap/scss/bootstrap-grid';
@import url('https://fonts.googleapis.com/css?family=Amethysta|Libre+Baskerville|Ramaraja');


@font-face {

    font-family: "bloom";
    src: url("fonts/Gloss_And_Bloom.woff") format("woff");
    src: url("fonts/Gloss_And_Bloom.ttf") format("ttf");

}


@font-face {

    font-family: "baskerville";
    src: url("fonts/baskerville.ttf") format("ttf");

}


@font-face {

    font-family: "sabon";
    src: url("fonts/SabonLTStd-Italic.ttf") format("ttf");

}



$font-1: 'baskerville',
serif;
$font-2: 'sabon',
serif;
$font-3: 'bloom',
serif;

$primary-color: #dbb8ad;

$secondary-color: #fae6de;

$supporting-color: #cda99d;

$text-color: #000000;

$text-color-2: #634b43;



body {


    background-color: $primary-color;

    color: $text-color;

    font: 100% $font-1;
}


*:focus {
    outline: 0 !important;
}

.bg-dark {

    background-color: #2b2b2b !important;
}

.text-brown{

    color: $text-color-2;

}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}


.header-bg {

    background-color: $secondary-color;
    min-height: 21vh;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    border-bottom: $supporting-color solid 4px;

}


.navbar {

    background: $secondary-color;

    .nav-link {

        padding-right: 0;
        text-align: center;
        font-size: 1.5em;
        font-weight: inherit;
        padding-left: 0;
    }
}



.navbar-brand {
    font-family: 'baskerville', serif;
    font-size: 2em;
    font-weight: 200;
    letter-spacing: .2em;
}

.nav-link {

    font-size: 1em;
    padding: 1em;
    font-weight: bold;
}

.navbar-nav .nav-link {

    padding-right: 0;
    text-align: center;
    font-size: 1em;
    font-weight: inherit;
    padding-left: 0;
    margin-right: 2em;
}

.logo-sub {

    letter-spacing: .02em;
    position: absolute;
    top: 3.3em;
    left: 3.2em;
    top: 4.3em;
    font-size: 0.6em;
}


a {

    color: rgba(55, 55, 55, 0.9);
}


a:hover {

    color: black;
    text-decoration: none;
}


.hero-img {


    height: 78vh;
    margin-bottom: 0;

    p {

        font: 100% $font-1;
        margin: 51vh 0 0 0;
        color: white;
        padding: 0;
        font-size: 3em;
        font-style: italic;
        text-align: center;
    }
}

.portraits-hero {

    background-image: url("../imgs/index/portraits-hero.png");
    background-size: 50vh;
    background-repeat: no-repeat;
    background-position: 69%;
    overflow: hidden;
}

.couples-hero {

    background-image: url("../imgs/index/couples-hero.png");
    background-size: 50vh;
    background-repeat: no-repeat;
    background-position: 66%;
    overflow: hidden;
}

.weddings-hero {

    background-image: url("../imgs/index/weddings-hero.png");
    background-size: 50vh;
    background-repeat: no-repeat;
    background-position: 48%;
    overflow: hidden;
}



.mobile-hero{


    overflow: hidden;
    object-fit: cover;
    height: 96vh;
    width: 100vw;

}

.mobile-header{

    font-size: 2em;
    position: absolute;
    top: 57%;

}

.image-tile{

    box-shadow: 0 2em #fae6de;
    margin-bottom: 3em;
    width: 100vw;

}

.mobile-form{

    font-size: 1.2em;

}

.end-image{

    width: 100vw;

}

.big-text{

        font-size: 4em;

}

.mobile-footer{

    background-color: $secondary-color;
    border-top: solid 9px $supporting-color;

}

.font-larger{

    font-size: 4em;

}

.font-large{

    font-size: 3em;

}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: $supporting-color;
  width: 114%;
  height: 100%;
}

.vertical-text{


        transform: rotate(-90deg);

}

.text-section{

    background-color: $secondary-color;

}

.gallery-side-text{

    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-orientation: sideways;
    text-align:right;
    text-orientation: sideways;
    font-size: 4.5vw;
    font-style: italic;
    color: #9a7f76;
    min-height: 40vw;
    margin-left: -9vw !important;

}

.d-title h1{

    color: #62473d;
    font-size: 3vw;

}

.d-title p{

    font-size: 1.4vw;
    font-style: italic;
    font-family: 'Amethysta', sans-serif;
    color: #6f5952;

}


.desktop-portrait-hero{

    height: 110%;
    background-image: url('../imgs/index/portraits-hero.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 24% 50%;
    color: white;


}


.desktop-hero-text p{

    font-size: 2vw;

}

.desktop-hero-text h1{

    font-size: 4.6vw;

}


.desktop-hero-text{

    position: absolute;
    top: 50%;
    width: 40vw;
    overflow: visible;

}

.desktop-hero-content{

    position: absolute;
    bottom: 40%;

}

.break-out{

    width: 100vw;
    position: relative;
    left: calc(-1 *(100vw - 100%) / 2);

}




@media (max-width: 576px) {

    .logo-sub {
        top: 3.3em;
    }

    .hero-img {

        p {

            transform: rotate(-90deg);
            margin: 86vw 0 1em -1em;
            width: 59vw;
        }
    }

    .navbar{

      border-bottom: $supporting-color solid 7px;
      padding-bottom: 1.5em;

    }


    .navbar-nav{

        .nav-link{

            padding-right: 0;
            text-align: center;
            font-size: 1.5em;
            padding-left: 12vw;
            margin-right: 2em;

        }

    }


    


    .v-line {
        
        background-color: #a27f74;
        border-left: 1px solid #000000;
        width: .05em;
        height: 9em;
        position: absolute;
        left: 50%;
        top: 78%;

    }


    .end-line {
        
        background-color: #a27f74;
        border-left: 1px solid #000000;
        width: .05em;
        height: 9em;
        left: 50%;
        margin-left: 50%;

    }

}