<!doctype html>
<html class="no-js" lang="en">

<head>
    
    <style>body{background-color:#e0c0b6!important}.barba-container,.navbar{display:none}#preloader{text-align:center;width:50%;position:absolute;top:50%;left:25%}#preloader p{font-family:Tahoma,Geneva,sans-serif;color:#724d3a;margin-top:15px}#preloader object{max-width:9vw}</style>
    <link rel=stylesheet href=https://use.fontawesome.com/releases/v5.1.0/css/all.css integrity=sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt crossorigin=anonymous>
    <link href="//fonts.googleapis.com/css?family=Libre+Baskerville|Cormorant Unicase&subset=latin" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendor/loading-bar.css" />
    <link rel="stylesheet" href="../assets/css/main.css?rel=14618849001217">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    
    <title>SMT | Stephen Mark Toms is a Photographer, Videographer, Web-Designer, and Social Media Marketer from York, Pennsylvania. Why just settle for the normal thing when the opportunity comes along to make something great? Don’t hesitate, act now: hello@smt.design</title>
    <meta name="description" content="Photographer, Videographer, Web-Designer, and Social Media Marketer from York, Pennslyvania."/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:title" content="SMT | Stephen Mark Toms a Photographer, Videographer, Web-Designer, and Social Media Marketer from York, Pennslyvania" />
    <meta property="og:description" content="York, PA based Photographer, Videographer, Web-Designer, and Social Media Marketer from York, Pennslyvania." />
    <meta property="og:image" content="https://www.smt.design/assets/imgs/seo/thumb.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="al:web:url" content="https://www.smt.design" />
    <meta property="al:web:should_fallback" content="true" />
    <meta name="twitter:card" content="app" />
    <meta name="twitter:url" content="https://www.smt.design" />
    <meta name="twitter:title" content="SMT | Stephen Mark Toms" />
    <meta name="twitter:description" content="York, PA based Photographer, Videographer, Web-Designer, and Social Media Marketer from York, Pennslyvania." />
    <meta name="twitter:image" content="https://www.smt.design/assets/imgs/seo/thumb.jpg" />
    <meta name="twitter:app:country" content="US" />
    <meta name="twitter:app:name:iphone" content="SMT" />
    <meta name="twitter:app:name:ipad" content="SMT" />
    <meta name="twitter:app:name:googleplay" content="SMT" />
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>window.addEventListener("load",function(){window.cookieconsent.initialise({palette:{popup:{background:"#8A7373"},button:{background:"#5d4239",color:"white"}},content:{message:"This website uses cookies."}})});</script>

</head>


<body>
    <!-- <noscript id="deferred-styles">
        <link async rel=stylesheet href=https://use.fontawesome.com/releases/v5.1.0/css/all.css integrity=sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt crossorigin=anonymous>
        <link href="../assets/css/vendor/lightbox.css" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Amethysta|Libre+Baskerville|Cormorant Unicase&subset=latin" rel="stylesheet" type="text/css">
        <link media="print" rel="stylesheet" type="text/css" href="../assets/css/vendor/loading-bar.css" />
        <link rel="stylesheet" href="../assets/css/main.css?rel=14618849001217">
    </noscript>

    <script>
      var loadDeferredStyles = function() {
        console.log("loading def styles");
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
          window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script> -->

    <nav class="navbar navbar-expand-md fixed-top ml-0  mt-xs-3 mr-xs-2">
        <a class="navbar-brand" href="../"><img src="../assets/imgs/supporting/logo.jpg" class="pl-2" style="max-height: 40px;" data-toggle="collapse" data-target="#navbarsExample05"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            Menu
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav ml-auto p-2">
                <li class="nav-item active">
                    <a class="nav-link" href="../" data-toggle="collapse" data-target="#navbarsExample05" >Works</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../about" data-toggle="collapse" data-target="#navbarsExample05" >About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../contact" data-toggle="collapse" data-target="#navbarsExample05" >Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="barba-wrapper" class="wrapper">
        <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->